body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: maroon;
    color: #fff;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

/* image-gallery row */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

/*image-item columns*/
.image-item {
    margin: 2px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: wheat;
    flex-basis: calc(20% - 4px); /* 20% width with margin */
    max-width: calc(20% - 4px); /* 20% width with margin */
    box-sizing: border-box;
    cursor: pointer; /*cursor pointer to indicate it's clickable */
    transition: transform 0.3s ease; /* Transition for smooth zoom effect */

}

/*image-item  for zoom when zoomed*/
.image-item.zoomed img {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

}

/*images before zoom*/
.image-item img {
    width: 100%;
    height: 150px; /* height for images*/
    border-radius: 5px;
}

.image-item p {
    margin: 2px 0;
    font-size: 11px;
    color: maroon;
}

/* CSS for search form */
.search-form{
    display: flex;
    align-items: center;
    justify-content: center;

}

/*back_to_admin*/
.back_to_admin{
margin-top:5px;
position:absolute;
top:9%;
left:55%;
text-decoration:none;
}

/*search-input*/
.search-input {
    padding: 8px 12px;
    border: 2px solid green;
    border-radius:20px;
    font-size: 16px;
    width:fit-content;
}

/*search button & back_to_admin */
.search-button, .back_to_admin {
    background-color: green; /* Green */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:fit-content;
}

/*search button hover effect*/
.search-button:hover {
opacity:0.5;
}
