<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset_password</title>
      <link rel="stylesheet" href="static/style.css">
    <style>
        .back_links a{
color:white;
font-size:x-large;
position:relative;
left:20%;
top:30px;
background-color:tomato;
padding:5px;
text-decoration:none;

}
    </style>
</head>
<body>

   <!-- Add a "Back" link -->
   <div class="back_links">
    <a  href="{{ url_for('index') }}"><i class="fa fa-user"></i>Back to LogIn</a>
    </div>
<br> <br> <br><hr>
    <h2>Reset Password</h2>
    <form action="" method="post">
        <div style="width:60%;margin:5% 25%;" class="input-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter Email" required>  <br> <br>
        <button style="width:fit-content;margin-left:20%;" type="submit">Reset Password</button></div>
    </form>

</body>
</html>